.container{
  position: absolute;
  border: 5px solid black;
  left: 1000px;
  top: 70px;
  height: 200px;
  width: 200px;

}
img{
  height: 200px;
  width: 200px;
}
.container2{
  position: absolute;
  left: 50px;
  right: 500px;
  top: 50px;

}